<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
  bootstrap="Bootstrap.php"
  colors="true"
  backupGlobals="false"
  backupStaticAttributes="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="false"
  convertWarningsToExceptions="false"
  forceCoversAnnotation="false"
  mapTestClassNameToCoveredClassName="false"
  processIsolation="false"
  stopOnError="true"
  stopOnFailure="true"
  stopOnIncomplete="false"
  stopOnSkipped="false"
  verbose="true"
>
  <testsuites>
    <testsuite name="DNContactUnitTest">
      <directory>./Controller</directory>
      <directory>./Module</directory>
      <directory>./Service</directory>
    </testsuite>
  </testsuites>
</phpunit>